cluster:
  name: ${CLUSTER_NAME}

script:
  inline: on
  stored: on

  #index:
  #  number_of_shards: 1
  #  number_of_replicas: 0
  #  auto_expand_replicas: 0-2
  #  unassigned.node_left.delayed_timeout: 2m
  #  translog:
  #    flush_threshold_size: 256mb
  #    flush_threshold_period: 5m
  #
node:
  master: {% if deploy_type in ['data-master', 'master'] %}true{% else %}false{% endif %}

  data: {% if deploy_type in ['data-master', 'data-client'] %}true{% else %}false{% endif %}

  name: ${NODE_NAME}

network:
  host: 0.0.0.0

cloud:
  kubernetes:
    service: ${SERVICE_DNS}
    namespace: ${NAMESPACE}

discovery:
  zen.hosts_provider: kubernetes
  zen.ping.unicast.hosts: ${SERVICE_DNS}
#  minimum_master_nodes: ${NUMBER_OF_MASTERS}

plugin.mandatory: discovery-kubernetes

#discovery:
#  type: kubernetes
#  zen.ping.multicast.enabled: false

gateway:
  expected_master_nodes: ${NODE_QUORUM}
  recover_after_nodes: ${RECOVER_AFTER_NODES}
  expected_nodes: ${RECOVER_EXPECTED_NODES}
  recover_after_time: ${RECOVER_AFTER_TIME}

  #io.fabric8.elasticsearch.authentication.users: ["system.logging.kibana", "system.logging.fluentd", "system.logging.curator", "system.admin"]

#openshift.config:
#  use_common_data_model: true
#  project_index_prefix: "project"
#  time_field_name: "@timestamp"
#
#openshift.searchguard:
#  keystore.path: /etc/elasticsearch/secret/admin.jks
#  truststore.path: /etc/elasticsearch/secret/searchguard.truststore
#
  #openshift.operations.allow_cluster_reader: {{allow_cluster_reader | default ('false')}}

path:
  data: /elasticsearch/persistent/${CLUSTER_NAME}/data
  logs: /elasticsearch/${CLUSTER_NAME}/logs
#  work: /elasticsearch/${CLUSTER_NAME}/work
  scripts: /elasticsearch/${CLUSTER_NAME}/scripts

