cluster:
  name: ${CLUSTER_NAME}

script:
  inline: on
  stored: on

node:
  master: ${IS_MASTER}
  data: ${HAS_DATA}
  name: ${NODE_NAME}
  ingest: ${NODE_INGEST}

network:
  host: 0.0.0.0

http:
  enabled: ${HTTP_ENABLED}
  compression: true

cloud:
  kubernetes:
    service: ${SERVICE_DNS}
    namespace: ${NAMESPACE}

discovery:
  zen.hosts_provider: kubernetes
  zen.ping.unicast.hosts: ${SERVICE_DNS}
#  minimum_master_nodes: ${NUMBER_OF_MASTERS}

plugin.mandatory: discovery-kubernetes

#discovery:
#  type: kubernetes
#  zen.ping.multicast.enabled: false

gateway:
  expected_master_nodes: ${NODE_QUORUM}
  # ^^^ should be full number of master nodes.
  recover_after_nodes: ${RECOVER_AFTER_NODES}
  ## ^^ node quorum
  expected_nodes: ${RECOVER_EXPECTED_NODES}
  recover_after_time: ${RECOVER_AFTER_TIME}
# add recover_after_master - masters quorum.

#io.fabric8.elasticsearch.authentication.users: ["system.logging.kibana", "system.logging.fluentd", "system.logging.curator", "system.admin"]

#openshift.config:
#  use_common_data_model: true
#  project_index_prefix: "project"
#  time_field_name: "@timestamp"
#
#openshift.searchguard:
#  keystore.path: /etc/elasticsearch/secret/admin.jks
#  truststore.path: /etc/elasticsearch/secret/searchguard.truststore
#
  #openshift.operations.allow_cluster_reader: {{allow_cluster_reader | default ('false')}}

path:
  data:
{% if storage_type == 'hostmount' %}
{% for item in hostmount_path %}
  - /elasticsearch/persistent/{{ loop.index0 }}
{% endfor %}
{% else %}
  - /elasticsearch/persistent/
{% endif %}
  logs: /elasticsearch/${CLUSTER_NAME}/logs
#  work: /elasticsearch/${CLUSTER_NAME}/work
  scripts: /elasticsearch/${CLUSTER_NAME}/scripts

